{% extends "layout.html" %} {% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class = 'content-section'> 
        <form method = 'POST' action = ''>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <legend class = 'border-bottom mb-4'>發布工作</legend>

                <div class="form-group">
                    {{ form.job_title.label(class="form-control-label") }}
                    {% if form.job_title.errors %}
                        {{  render_field(form.job_title,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.job_title.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.job_title,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.job_description.label(class="form-control-label") }}
                    {% if form.job_description.errors %}
                        {{  render_field(form.job_description,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.job_description.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.job_description,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.job_type.label(class="form-control-label") }}
                    {% if form.job_type.errors %}
                        {{  render_field(form.job_type,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.job_type.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.job_type,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.job_expected_payment_days.label(class="form-control-label") }}
                    {% if form.job_expected_payment_days.errors %}
                        {{  render_field(form.job_expected_payment_days,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.job_expected_payment_days.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.job_expected_payment_days,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.list_start_time.label(class="form-control-label") }}
                    {% if form.list_start_time.errors %}
                        {{  render_field(form.list_start_time,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.list_start_time.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.list_start_time,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.list_end_time.label(class="form-control-label") }}
                    {% if form.list_end_time.errors %}
                        {{  render_field(form.list_end_time,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.list_end_time.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.list_end_time,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.list_salary.label(class="form-control-label") }}
                    {% if form.list_salary.errors %}
                        {{  render_field(form.list_salary,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.list_salary.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.list_salary,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.list_salary_type.label(class="form-control-label") }}
                    {% if form.list_salary_type.errors %}
                        {{  render_field(form.list_salary_type,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.list_salary_type.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.list_salary_type,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.list_quota.label(class="form-control-label") }}
                    {% if form.list_quota.errors %}
                        {{  render_field(form.list_quota,class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.list_quota.errors %}
                                <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ render_field(form.list_quota,class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ render_field(form.submit, class="btn btn-primary btn-large btn-block")
                }}
            </div>
            
        </form>
    </div>
{% endblock content %}