{% extends "layout.html" %} {% from "_formhelpers.html" import render_field %}{% from 'macros.html' import from_field %}

{% block content %}
    <div class = 'content-section'>
        <form method = 'POST' action = ''>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <legend class = 'border-bottom mb-4'>馬上註冊商業帳戶</legend>
                {{ from_field(form.user_login) }}<br>
                {{ from_field(form.password) }}<br>
                {{ from_field(form.confirm_password) }}<br>
                {{ from_field(form.company_CName) }}<br>
                {{ from_field(form.company_EName) }}<br>
                {{ from_field(form.company_contact_person) }}<br>
                {{ from_field(form.company_contact_number) }}<br>
                {{ from_field(form.company_email) }}<br>
                <!-- 驗證碼button moved to suspended_code.html-->

            </fieldset>

            <div class="form-group">
                {{ render_field(form.submit, class="btn btn-primary btn-large btn-block")
                }}
            </div>
              
            
        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            已經擁有帳號？ <a class="ml-2" href="{{ url_for('login') }}">登入</a>
        </small>
    </div>
    
{% endblock content%}
