{% extends "layout.html" %} 
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1> You Are Business User </h1>>
    <h2>{{current_user.username}}</h2>>

    <a href="{{url_for('business_post_job')}}" class="btn btn-primary btn-large p-2">
        <h4 class="m-0">發布新工作</h4>
    </a>

    <a href="{{url_for('business_view_jobs_posted')}}" class="btn btn-primary btn-large p-2">
        <h4 class="m-0">已發布的工作</h4>
    </a>

    <a href="{{url_for('business_profile')}}" class="btn btn-primary btn-large p-2">
        <h4 class="m-0">我的公司檔案</h4>
    </a>
    
{% endblock content %}