{% extends "layout.html" %}

{% block content %}
    <div class = 'content-section'>
        <form method = 'POST' action = ''>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <legend class = 'border-bottom mb-4'>馬上註冊商業帳戶</legend>
                <div class="form-group">
                    {{ form.user_login.label(class="form-control-label") }}
                    {% if form.user_login.errors %}
                        {{ form.user_login(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_login.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_login(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_CName.label(class="form-control-label") }}
                    {% if form.company_CName.errors %}
                        {{ form.company_CName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_CName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_CName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_EName.label(class="form-control-label") }}
                    {% if form.company_EName.errors %}
                        {{ form.company_EName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_EName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_EName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_email.label(class="form-control-label") }}
                    {% if form.company_email.errors %}
                        {{ form.company_email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_contact_person.label(class="form-control-label") }}
                    {% if form.company_contact_person.errors %}
                        {{ form.company_contact_person(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_contact_person.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_contact_person(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_contact_number.label(class="form-control-label") }}

                    {% if form.company_contact_number.errors %}
                        {{ form.company_contact_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_contact_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_contact_number(class="form-control form-control-lg") }}
                        <button type = 'submit' class = 'button_1'> 發送驗證碼 </button>
                    {% endif %}
                </div>
                <form>
                    <input type='text' placeholder="請輸入短訊驗證碼">
                    <button type ='submit' class='button_1'>驗證</button>>
                </form>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            <a class="button" href="{{url_for('business_register_confirm')}}">遞交</a>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            已經擁有帳號？ <a class="ml-2" href="{{ url_for('login') }}">登入</a>
        </small>
    </div>
    
{% endblock content%}