<!-- TODO: Add contents-->
{% extends "layout.html" %} {% block content %}
<div class="transition-fade">
  <div class="banner-offset">
    <div class="jumbotron p-sm-1 p-md-5 bg-primary text-white rounded-0">
      <div class="row">
        <div class="col col-12 col-md-7 p-xs-1 p-3">
          <h1 class="text-center text-md-left mt-3" id="header_1">
            一個屬於所有人的
          </h1>
          <h1 class="text-center text-md-left" id="header_2">
            在線工作配對平台
          </h1>
          <hr class="bg-secondary" />
          <p class="text-center lead p-3">
            我們為大眾及商家建立聯繫，並向勞工市場提供工作管理工具及資源，保障勞資雙方權益，為社會未來發展打下堅定基礎。
          </p>
          <a href="{{ url_for('register') }}">
            <button class="btn btn-secondary btn-lg btn-block">
              立即加入我們
            </button>
          </a>
        </div>
        <div class="col col-md-5 p-3 d-none d-md-flex justify-content-center align-items-center">
          <img src="{{ url_for('static', filename='img/stories/business_deal.gif') }}" alt="Business Deal"
            class="img-fluid rounded" style="width: 100%; max-width: 400px;" loading='lazy' />
        </div>
      </div>
    </div>
</div>

{% endblock content %}
