{% extends "layout.html" %} 
{% from "_formhelpers.html" import render_field %}
{% from 'macros.html' import from_field %}

{% block content %}
    <div class = 'content-section'> 
        <form method = 'POST' action = ''>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <legend class = 'border-bottom mb-4'>馬上註冊個人帳戶</legend>
                {{ from_field(form.user_login) }}<br>
                {{ from_field(form.password) }}<br>
                {{ from_field(form.confirm_password) }}<br>
                {{ from_field(form.individual_contact_number) }}<br>
                {{ from_field(form.individual_email) }}<br>
                {{ from_field(form.individual_CName) }}<br>
                {{ from_field(form.individual_EName) }}<br>
                {{ from_field(form.individual_alias) }}<br>
                {{ from_field(form.individual_HKID_head) }}<br>
                {{ from_field(form.individual_HKID_tail) }}<br>
                {{ from_field(form.individual_gender) }}<br>
                {{ from_field(form.individual_birthday) }}<br>
                {{ from_field(form.individual_educationLevel) }}<br>
                {{ from_field(form.individual_language_Cantonese) }}<br>
                {{ from_field(form.individual_language_English) }}<br>
                {{ from_field(form.individual_language_Putonghua) }}<br>
                {{ from_field(form.individual_language_Other) }}<br>
            </fieldset>

            <div class="form-group">
                {{ render_field(form.submit, class="btn btn-primary btn-large btn-block")
                }}
            </div>
            
        </form>
    </div>
{% endblock content%}