<!-- TODO: Validate confirmed TOS on the client side -->
<!-- TODO: Add autocomplete to all input fields -->
{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class='center-grid d-flex justify-content-center align-items-center mb-3 transition-fade-up'>
    <div class="transparent-watermark-background d-flex justify-content-center align-items-center"
        style="min-height: 88vh;">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='img/stories/onboarding.webm') }}" type="video/webm">
            <source src="{{ url_for('static', filename='img/stories/onboarding.mp4') }}" type="video/webm">
        </video>
    </div>
    <form method='POST' action=''
        class="d-flex flex-column col-11 col-md-7 shadow rounded p-4 p-md-5 bus-reg justify-content-between my-2"
        novalidate style="min-height: 75vh; background: rgba(255, 255, 255, 0.5);" id="individual_register"
        data-swup-form="individual_register">
        {{ form.hidden_tag() }}

        <div class="text-center">
            <h2 class="text-primary mb-2">馬上註冊 <span class="text-dark">man</span><span
                    class="text-secondary">base</span>
                個人帳戶</h2>
            {% if form.errors %}
            <div class="container border-left border-danger bg-white p-2 rounded shadow-sm mb-3"
                style="border-width: 5px !important;">
                <div class="d-flex flex-row align-items-center">
                    <div class="mx-2 mx-md-3 my-2">
                        <i class="las la-exclamation-triangle text-danger h1 m-0"></i>
                    </div>
                    <div class="w-100">
                        {% for field, errors in form.errors.items() %}
                        <p class="text-danger p-0 m-0 my-2" style="line-height: 0.8em;">
                            <strong>{{form[field].label}}</strong>: {{', '.join(errors)}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- Section 1: Username, Password, and Repeat Password -->
        <div class="form-section" id="ind_reg_sec_1">
            <h3 class="mt-2">賬戶資料</h3>
            <h5 class="text-center m-0" aria-hidden='true' style="letter-spacing: 0.3em;">
                &#9679;&#9675;&#9675;&#9675;&#9675;</h5>
            <hr>

            <!-- Username -->
            <div class="form-group">
                {{ form.user_login.label(class="form-control-label") }}
                {% if form.user_login.errors %}
                {{ render_field(form.user_login, 
                                class="form-control form-control-lg is-invalid", 
                                placeholder="帳號",
                                id="ind_register_account",
                                autocomplete="username")
                }}
                {% else %}
                {{ render_field(form.user_login,
                                class="form-control form-control-lg", 
                                placeholder="帳號",
                                id="ind_register_account",
                                autocomplete="username")
                }}
                {% endif %}
                <div class="invalid-feedback d-block" id="ind_register_account_error">
                    {% if form.user_login.errors %}
                    {% for error in form.user_login.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ render_field(form.password, 
                                class="form-control form-control-lg is-invalid", 
                                style="font-family: sans-serif, 'Noto Sans HK';", 
                                placeholder="密碼",
                                id="ind_register_password",
                                autocomplete="new-password")
                }}
                {% else %}
                {{ render_field(form.password, 
                                class="form-control form-control-lg", 
                                style="font-family: sans-serif, 'Noto Sans HK';", 
                                placeholder="密碼",
                                id="ind_register_password",
                                autocomplete="new-password")
                }}
                {% endif %}
                <div class="invalid-feedback d-block" id="ind_register_password_error">
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Repeat Password -->
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ render_field(form.confirm_password, 
                                class="form-control form-control-lg is-invalid", 
                                style="font-family: sans-serif, 'Noto Sans HK';", 
                                placeholder="重新輸入密碼",
                                id="ind_register_confirm_password",
                                autocomplete="new-password")
                }}
                {% else %}
                {{ render_field(form.confirm_password,
                                class="form-control form-control-lg",
                                style="font-family: sans-serif, 'Noto Sans HK';",
                                placeholder="重新輸入密碼",
                                id="ind_register_confirm_password",
                                autocomplete="new-password")
                }}
                {% endif %}
                <div class="invalid-feedback d-block" id="ind_register_confirm_password_error">
                    {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Section Button -->
            <div class="row">
                <button class="btn btn-primary btn-block col-5 col-md-3 offset-7 offset-md-9" id="ind_reg_sec_1_next"
                    type="button">下一步：個人資料1<i class="las la-arrow-circle-right"></i></button>
            </div>
        </div>
        <!-- Section 2: Chinese Name, English Name, Nickname, HKID -->
        <div class="form-section" id="ind_reg_sec_2">
            <h3 class="mt-2">個人資料（1）</h3>
            <h5 class="text-center m-0" aria-hidden='true' style="letter-spacing: 0.3em;">
                &#9675;&#9679;&#9675;&#9675;&#9675;</h5>
            <hr>

            <!-- Chinese Name -->
            <div class="form-group">
                {{ form.individual_CName.label(class="form-control-label") }}
                {% if form.individual_CName.errors %}
                {{ render_field(form.individual_CName,
                                class="form-control form-control-lg is-invalid",
                                placeholder="中文全名",
                                id="ind_register_c_name") 
                }}
                {% else %}
                {{ render_field(form.individual_CName,
                                class="form-control form-control-lg",
                                placeholder="中文全名",
                                id="ind_register_c_name")
                }}
                {% endif %}
                <div class="invalid-feedback d-block" id="ind_register_c_name_error">
                    {% if form.individual_CName.errors %}
                    {% for error in form.individual_CName.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- English Name -->
            <div class="form-group">
                {{ form.individual_EName.label(class="form-control-label mb-0") }}
                <p class="form-text text-muted my-1">
                    可選填
                </p>
                {% if form.individual_EName.errors %}
                {{ render_field(form.individual_EName,
                                class="form-control form-control-lg is-invalid", 
                                placeholder="英文名字",
                                id="ind_register_e_name")
                }}
                {% else %}
                {{ render_field(form.individual_EName,
                                class="form-control form-control-lg",
                                placeholder="英文名字",
                                id="ind_register_e_name")
                }}
                {% endif %}
                <div class="invalid-feedback d-block" id="ind_register_e_name_error">
                    {% if form.individual_EName.errors %}
                    {% for error in form.individual_EName.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Nickname -->
            <div class="form-group">
                {{ form.individual_alias.label(class="form-control-label mb-0") }}
                <p class="form-text text-muted my-1">
                    可選填
                </p>
                {% if form.individual_alias.errors %}
                {{ render_field(form.individual_alias,
                                class="form-control form-control-lg is-invalid",
                                placeholder="暱稱",
                                id="ind_register_nickname",
                                autocomplete="nickname") 
                }}
                {% else %}
                {{ render_field(form.individual_alias,
                                class="form-control form-control-lg", 
                                placeholder="暱稱",
                                id="ind_register_nickname",
                                autocomplete="nickname")
                }}
                {% endif %}

                <div class="invalid-feedback d-block" id="ind_register_nickname">
                    {% if form.individual_alias.errors %}
                    {% for error in form.individual_alias.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- HKID -->
            <div class="form-group">
                {{ form.individual_HKID.label(class="form-control-label") }}
                <div class="d-flex align-items-center">
                    <div class="d-flex">
                        {% if form.individual_HKID.errors %}
                        {{ render_field(form.individual_HKID, 
                                        class="form-control form-control-lg is-invalid",
                                        placeholder="A1234",
                                        maxlength="6",
                                        id="ind_register_hkid") 
                        }}
                        {% else %}
                        {{ render_field(form.individual_HKID,
                                        class="form-control form-control-lg",
                                        placeholder="A1234",
                                        maxlength="6",
                                        id="ind_register_hkid")
                        }}
                        {% endif %}
                    </div>
                    <p class="w-100 m-0 ml-2">XX(X)</p>
                </div>
                <div class="invalid-feedback d-block" id="ind_register_hkid_error">
                    {% if form.individual_HKID.errors %}
                    {% for error in form.individual_HKID.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Section Buttons -->
            <div class="row">
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_2_prev"
                    type="button"><i class="las la-arrow-circle-left"></i>
                    上一步：賬戶資料</button>
                <button class="btn btn-primary col-5 col-md-3 offset-1" id="ind_reg_sec_2_next" type="button">下一步：個人資料2
                    <i class="las la-arrow-circle-right"></i> </button>
            </div>
        </div>

        <!-- Section 3 (Personal Info): Tel Number, Email, Gender, DOB -->
        <div class="form-section" id="ind_reg_sec_3">
            <h3 class="mt-2">個人資料（2）</h3>
            <h5 class="text-center m-0" aria-hidden='true' style="letter-spacing: 0.3em;">
                &#9675;&#9675;&#9679;&#9675;&#9675;</h5>
            <hr>

            <!-- Tel Number -->
            <div class="form-group">
                {{ form.individual_contact_number.label(class="form-control-label") }}
                <div class="d-flex align-items-center">
                    <p class="m-0 mr-2">(+852) </p>
                    <div class="d-flex w-100">
                        {% if form.individual_contact_number.errors %}
                        {{ render_field(form.individual_contact_number,
                                        class="form-control form-control-lg is-invalid", 
                                        id="ind_register_tel", 
                                        maxlength="8", 
                                        pattern="[0-9]{8}", 
                                        placeholder="00000000",
                                        type="tel") 
                        }}
                        {% else %}
                        {{ render_field(form.individual_contact_number,
                                        class="form-control form-control-lg", 
                                        id="ind_register_tel", 
                                        maxlength="8", 
                                        pattern="[0-9]{8}", 
                                        placeholder="00000000",
                                        type="tel") 
                        }}
                        {% endif %}
                    </div>
                </div>

                <div class="invalid-feedback d-block" id="ind_register_tel_error">
                    {% if form.individual_contact_number.errors %}
                    {% for error in form.individual_contact_number.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                {{ form.individual_email.label(class="form-control-label") }}
                {% if form.individual_email.errors %}
                {{ render_field(form.individual_email,
                                class="form-control form-control-lg is-invalid", 
                                placeholder="example@email.com",
                                id="ind_register_email",
                                type="email") }}
                {% else %}
                {{ render_field(form.individual_email,
                                class="form-control form-control-lg", 
                                placeholder="example@email.com",
                                id="ind_register_email",
                                type="email") }}
                {% endif %}
                <div class="invalid-feedback d-block" , id="ind_register_email_error">
                    {% if form.individual_email.errors %}
                    {% for error in form.individual_email.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Gender -->
            <div class="form-group">
                {{ render_field(form.individual_gender.label, 
                                class="form-control-label") 
                }}
                <div class="row mx-md-n1">
                    {% for subfield in form.individual_gender %}
                    <div class="col-12 col-md-4 px-md-1 my-2">
                        <div class="ind_register_genders d-grid p-2 align-items-center rounded-lg  bg-white border">
                            {{ subfield }} {{ render_field(subfield.label, class="m-0") }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="invalid-feedback d-block" id="ind_register_gender_error">
                    {% if form.individual_gender.errors %}
                    {% for error in form.individual_gender.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- DOB -->
            <div class="form-group">
                {{ render_field(form.individual_birthday.label, 
                                class="form-control-label") 
                }}
                {% if form.individual_birthday.errors %}
                {{ render_field(form.individual_birthday,
                                class="form-control form-control-lg is-invalid", 
                                placeholder="YYYY-MM-DD", 
                                id="ind_register_dob",
                                type="date",
                                pattern="\d{4}-\d{2}-\d{2}",
                                max="9999-12-31") 
                }}
                {% else %}
                {{ render_field(form.individual_birthday, 
                                class="form-control form-control-lg", 
                                placeholder="YYYY-MM-DD", 
                                id="ind_register_dob",
                                type="date",
                                pattern="\d{4}-\d{2}-\d{2}",
                                max="9999-12-31") 
                }}
                {% endif %}
                <div class="invalid-feedback d-block" id="ind_register_dob_error">
                    {% if form.individual_birthday.errors %}
                    {% for error in form.individual_birthday.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Section Buttons -->
            <div class="row">
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_3_prev"
                    type="button"><i class="las la-arrow-circle-left"></i>
                    上一步：個人資料1</button>
                <button class="btn btn-primary col-5 col-md-3 offset-1" id="ind_reg_sec_3_next" type="button">下一步：工作資料
                    <i class="las la-arrow-circle-right"></i> </button>
            </div>
        </div>

        <!-- Section 4 (Working Info): Edu, Lang -->
        <div class="form-section" id="ind_reg_sec_4">
            <h3 class="mt-2">工作資料</h3>
            <h5 class="text-center m-0" aria-hidden='true' style="letter-spacing: 0.3em;">
                &#9675;&#9675;&#9675;&#9679;&#9675;</h5>
            <hr>
            <!-- Education -->
            <div class="form-group">
                {{ form.individual_educationLevel.label(class="form-control-label h4 mb-0") }}
                <p class="form-text text-muted my-1">
                    可選填
                </p>
                <div class="row mx-md-n1">
                    {% for subfield in form.individual_educationLevel %}
                    <div class="col-12 col-md-4 px-md-1 my-2">
                        <div class="ind_register_edu_levels d-grid p-2 align-items-center rounded-lg  bg-white border">
                            {{ subfield }} {{ render_field(subfield.label, class="m-0") }}
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <div class="invalid-feedback d-block" id="ind_reg_edu_level_error">
                    {% if form.individual_educationLevel.errors %}
                    {% for error in form.individual_educationLevel.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Language -->
            <div class="form-group">
                <h4>工作語言</h4>
                <p class="form-text text-muted mb-0">
                    可選填
                </p>
                <div class="row mx-md-n1">
                    <div class="col-12 col-md-4 px-md-1 my-2">
                        <div class="ind_reg_langs d-grid p-2 align-items-center rounded-lg  bg-white border">
                            {% if form.individual_language_Cantonese.errors %}
                            {{ render_field(form.individual_language_Cantonese,
                                    class="is-invalid",
                                    id="ind_register_cantonese") 
                            }}
                            {% else %}
                            {{ render_field(form.individual_language_Cantonese,
                                    id="ind_register_cantonese")
                            }}
                            {% endif %}
                            {{ render_field(form.individual_language_Cantonese.label, class="form-check-label") }}
                        </div>
                    </div>

                    <div class="col-12 col-md-4 px-md-1 my-2">
                        <div class="ind_reg_langs d-grid p-2 align-items-center rounded-lg bg-white border">
                            {% if form.individual_language_English.errors %}
                            {{ render_field(form.individual_language_English,
                                    class="is-invalid", 
                                    id="ind_register_english")
                            }}
                            {% else %}
                            {{ render_field(form.individual_language_English,
                                    id="ind_register_english")
                            }}
                            {% endif %}

                            {{ render_field(form.individual_language_English.label, class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col-12 col-md-4 px-md-1 my-2">
                        <div class="ind_reg_langs d-grid p-2 align-items-center rounded-lg bg-white border">
                            {% if form.individual_language_Putonghua.errors %}
                            {{ render_field(form.individual_language_Putonghua,
                                    class=" is-invalid",
                                    id="ind_register_putonghua")
                            }}
                            {% else %}
                            {{ render_field(form.individual_language_Putonghua,
                                    id="ind_register_putonghua")
                            }}
                            {% endif %}
                            {{ render_field(form.individual_language_Putonghua.label, class="form-check-label") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.individual_language_Other.label(class="form-control-label") }}
                    {% if form.individual_language_Other.errors %}
                    {{ render_field(form.individual_language_Other,
                                    class="form-control form-control-lg is-invalid", 
                                    placeholder="其他工作語言",
                                    id="ind_register_other_lang") 
                    }}
                    {% else %}
                    {{ render_field(form.individual_language_Other,
                                    class="form-control form-control-lg", 
                                    placeholder="其他工作語言",
                                    id="ind_register_other_lang") 
                    }}
                    {% endif %}

                </div>

                <div class="invalid-feedback d-block" id="ind_register_lang_errors">
                    {% if form.individual_language_Cantonese.errors %}
                    {% for error in form.individual_language_Cantonese.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}

                    {% if form.individual_language_English.errors %}
                    {% for error in form.individual_language_English.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}

                    {% if form.individual_language_Putonghua.errors %}
                    {% for error in form.individual_language_Putonghua.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}

                    {% if form.individual_language_Other.errors %}
                    {% for error in form.individual_language_Other.errors %}
                    <p class='error'> {{error}} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Section Buttons -->
            <div class="row">
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_4_prev"
                    type="button"><i class="las la-arrow-circle-left"></i>
                    上一步：個人資料2</button>
                <button class="btn btn-primary col-5 col-md-3 offset-1" id="ind_reg_sec_4_next"
                    type="button">下一步：確認資料及條款
                    <i class="las la-arrow-circle-right"></i> </button>
            </div>
        </div>

        <!-- Section 5: Confirm and Accept TOC -->
        <div class="form-section" id="ind_reg_sec_5">
            <h3 class="mt-2">確認資料及條款</h3>
            <h5 class="text-center m-0" aria-hidden='true' style="letter-spacing: 0.3em;">
                &#9675;&#9675;&#9675;&#9675;&#9679;</h5>
            <hr>

            <h5 class="mt-2">賬戶資料</h5>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">帳號:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_account"></strong>
            </div>
            <hr>
            <h5 class="mt-2">個人資料</h5>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">中文全名:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_c_name"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">英文名字:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_e_name"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">暱稱:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_nickname"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">身分證:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_hkid"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">聯絡電話:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_tel"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">電子郵箱:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_email"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">性別:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_gender"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">出生日期:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_dob"></strong>
            </div>
            <hr>
            <h5 class="mt-2">工作資料</h5>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">教育程度:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_edu_level"></strong>
            </div>
            <div class="row my-3 align-items-center">
                <div class="col-6 col-md-4 text-right">工作語言:</div>
                <strong class="col-6 col-md-8 text-secondary text-break ind-reg-confirm"
                    id="confirm_ind_register_lang"></strong>
            </div>
            <hr>
            <div class="row mx-2 my-3 align-items-center form-check">
                {{ render_field(form.individual_tos, 
                                class="form-check-input", 
                                id="ind_register_agree_tos")
                }}
                <label for="ind_register_agree_tos" class="text-break ind-reg-confirm form-check-label">我已經閱讀並同意<a
                        href="#" class="text-primary" data-toggle="modal" data-target="#tos">《使用條款及細則》</a>。</label>
            </div>
            <!-- Sections Button -->
            <div class="form-group row">
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5 text-nowrap"
                    id="ind_reg_sec_5_prev" type="button"><i class="las la-arrow-circle-left"></i>
                    上一步：<wbr>工作資料</button>

                <button class="btn btn-primary col-5 col-md-3 offset-1" type="submit" name="submit" id="ind_reg_submit">
                    註冊個人帳戶 <i class='las la-check-circle'></i>
                </button>
            </div>
        </div>
        <p class="text-muted text-center mt-3">
            已經擁有帳號？ <a class="ml-2 text-primary" href="{{ url_for('login') }}">登入</a>
        </p>
    </form>

</div>
{% endblock content %}