<!-- TODO: Fix the Layout -->
<!-- TODO: Should scroll to the top when in view -->
<!-- TODO: Add autocomplete to all input fields -->
{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class='content-switch center-grid d-flex justify-content-center align-items-center'>
    <div class="transparent-watermark-background d-flex justify-content-center align-items-center"
        style="min-height: 88vh;">
        <img src="{{url_for('static', filename='img/stories/onboarding.gif')}}" alt="Login Animation" />
    </div>
    <form method='POST' action=''
        class="d-flex flex-column col-11 col-md-7 shadow rounded p-4 p-md-5 bus-reg justify-content-between mt-3"
        novalidate style="min-height: 75vh; background: rgba(255, 255, 255, 0.3);" id="individual_register">
        {{ form.hidden_tag() }}

        <div class="text-center mb-3">
            <h2 class="text-primary">馬上註冊 <span class="text-dark">man</span><span class="text-secondary">base</span>
                個人帳戶</h2>
            {% if form.errors %}
            {% for field, errors in form.errors.items() %}
            <p class="text-danger p-0 m-0"><strong>{{form[field].label}}</strong>: {{', '.join(errors)}}</p>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Section 1: Username, Password, and Repeat Password -->
        <div class="form-section" id="ind_reg_sec_1">
            <!-- TODO: Update Description-->
            <h3 class="mt-2">賬戶資料（第一步，共5步）</h3>

            <!-- Username -->
            <div class="form-group">
                {{ form.user_login.label(class="form-control-label") }}
                {% if form.user_login.errors %}
                {{ render_field(form.user_login, class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.user_login.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.user_login,class="form-control form-control-lg" )}}
                {% endif %}
            </div>

            <!-- Password -->
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ render_field(form.password, class="form-control form-control-lg is-invalid", style="font-family: sans-serif;")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.password, class="form-control form-control-lg", style="font-family: sans-serif;")}}
                {% endif %}
            </div>

            <!-- Repeat Password -->
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ render_field(form.confirm_password, class="form-control form-control-lg is-invalid", style="font-family: sans-serif;")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.confirm_password, class="form-control form-control-lg", style="font-family: sans-serif;") }}
                {% endif %}
            </div>

            <!-- Section Button -->
            <div class="row">
                <!-- TODO: Update Button -->
                <button class="btn btn-primary btn-block col-5 col-md-3 offset-7 offset-md-9" id="ind_reg_sec_1_next"
                    type="button">下一步：公司資料 <i class="las la-arrow-circle-right"></i></button>
            </div>
        </div>
        <!-- Section 2: Chinese Name, English Name, Nickname, HKID -->
        <div class="form-section" id="ind_reg_sec_2">
            <!-- TODO: Update Description -->
            <h3 class="mt-2">公司資料（第二步，共5步）</h3>

            <!-- Chinese Name -->
            <div class="form-group">
                {{ form.individual_CName.label(class="form-control-label") }}
                {% if form.individual_CName.errors %}
                {{  render_field(form.individual_CName,class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_CName.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_CName,class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- English Name -->
            <div class="form-group">
                {{ form.individual_EName.label(class="form-control-label") }}
                {% if form.individual_EName.errors %}
                {{  render_field(form.individual_EName,class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_EName.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_EName,class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Nickname -->
            <div class="form-group">
                {{ form.individual_alias.label(class="form-control-label") }}
                {% if form.individual_alias.errors %}
                {{  render_field(form.individual_alias,class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_alias.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_alias,class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- HKID -->
            <div class="form-group">
                {{ form.individual_HKID.label(class="form-control-label") }}
                {% if form.individual_HKID.errors %}
                {{  render_field(form.individual_HKID,class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_HKID.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_HKID,class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Section Buttons -->
            <div class="row">
                <!-- TODO: Update Buttons -->
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_2_prev"
                    type="button"><i class="las la-arrow-circle-left"></i> 上一步：賬戶資料</button>
                <button class="btn btn-primary col-5 col-md-3 offset-1" id="ind_reg_sec_2_next" type="button">下一步：聯絡資料
                    <i class="las la-arrow-circle-right"></i> </button>
            </div>
        </div>

        <!-- Section 3 (Personal Info): Tel Number, Email, Gender, DOB -->
        <div class="form-section" id="ind_reg_sec_3">
            <!-- TODO: Update Description -->
            <h3 class="mt-2">公司資料（第3步，共5步）</h3>

            <!-- Tel Number -->
            <div class="form-group">
                {{ form.individual_contact_number.label(class="form-control-label") }}
                {% if form.individual_contact_number.errors %}
                {{  render_field(form.individual_contact_number,class="form-control form-control-lg is-invalid", id="ind_reg_tel_num", maxlength="9", pattern="[0-9]{4}-[0-9]{4}", placeholder="0000-0000") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_contact_number.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_contact_number,class="form-control form-control-lg", id="ind_reg_tel_num", maxlength="9", pattern="[0-9]{4}-[0-9]{4}", placeholder="0000-0000") }}
                {% endif %}
            </div>

            <!-- Email -->
            <div class="form-group">
                {{ form.individual_email.label(class="form-control-label") }}
                {% if form.individual_email.errors %}
                {{  render_field(form.individual_email,class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_email.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_email,class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Gender -->
            <div class="form-group">
                {{ render_field(form.individual_gender.label, class="form-control-label") }}
                {% for subfield in form.individual_gender %}
                <div class="">
                    <div class="">
                        {{ subfield }} {{ subfield.label }}
                    </div>
                </div>
                {% endfor %}
                {% if form.individual_gender.errors %}
                <div class="invalid-feedback">
                    {% for error in form.individual_gender.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- DOB -->
            <div class="form-group">
                {{ render_field(form.individual_birthday.label, class="form-control-label") }}
                {% if form.individual_birthday.errors %}
                {{  render_field(form.individual_birthday,class="form-control form-control-lg is-invalid", placeholder="0000-00-00", id="ind_reg_dob") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_birthday.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_birthday, class="form-control form-control-lg", placeholder="0000-00-00", id="ind_reg_dob") }}
                {% endif %}
            </div>

            <!-- Section Buttons -->
            <div class="row">
                <!-- TODO: Update Buttons -->
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_3_prev"
                    type="button"><i class="las la-arrow-circle-left"></i> 上一步：賬戶資料</button>
                <button class="btn btn-primary col-5 col-md-3 offset-1" id="ind_reg_sec_3_next" type="button">下一步：聯絡資料
                    <i class="las la-arrow-circle-right"></i> </button>
            </div>
        </div>

        <!-- Section 4 (Working Info): Edu, Lang -->
        <div class="form-section" id="ind_reg_sec_4">
            <!-- TODO: Update Description -->
            <h3 class="mt-2">公司資料（第4步，共5步）</h3>

            <!-- Education -->
            <div class="form-group">
                {{ form.individual_educationLevel.label(class="form-control-label") }}
                {% for subfield in form.individual_educationLevel %}
                <div class="">
                    <div class="">
                        {{ render_field(subfield, class="text-primary") }} {{ subfield.label }}
                    </div>
                </div>
                {% endfor %}
                {% if form.individual_educationLevel.errors %}
                <div class="invalid-feedback">
                    {% for error in form.individual_educationLevel.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Language -->
            <h4>工作語言</h4>
            <div class="row mb-2">
                <div class="col-11 col-md-3 offset-md-1 form-check">


                    {% if form.individual_language_Cantonese.errors %}
                    {{  render_field(form.individual_language_Cantonese,class="form-check-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.individual_language_Cantonese.errors %}
                        <small class='error'> {{error}} </small>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ render_field(form.individual_language_Cantonese,class="form-check-input bg-primary") }}
                    {% endif %}

                    {{ form.individual_language_Cantonese.label(class="form-check-label") }}


                </div>
                <div class="col-11 col-md-3 form-check">

                    {% if form.individual_language_English.errors %}
                    {{  render_field(form.individual_language_English,class="form-check-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.individual_language_English.errors %}
                        <small class='error'> {{error}} </small>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ render_field(form.individual_language_English,class="form-check-input") }}
                    {% endif %}

                    {{ form.individual_language_English.label(class="form-check-label") }}
                </div>
                <div class="col-11 col-md-3 form-check">

                    {% if form.individual_language_Putonghua.errors %}
                    {{  render_field(form.individual_language_Putonghua,class="form-check-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.individual_language_Putonghua.errors %}
                        <small class='error'> {{error}} </small>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ render_field(form.individual_language_Putonghua,class="form-check-input") }}
                    {% endif %}

                    {{ form.individual_language_Putonghua.label(class="form-check-label") }}
                </div>
            </div>

            <div class="form-group">
                {{ form.individual_language_Other.label(class="form-control-label") }}
                {% if form.individual_language_Other.errors %}
                {{  render_field(form.individual_language_Other,class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.individual_language_Other.errors %}
                    <small class='error'> {{error}} </small>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.individual_language_Other,class="form-control") }}
                {% endif %}
            </div>

            <!-- Section Buttons -->
            <div class="row">
                <!-- TODO: Update Buttons -->
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_4_prev"
                    type="button"><i class="las la-arrow-circle-left"></i> 上一步：賬戶資料</button>
                <button class="btn btn-primary col-5 col-md-3 offset-1" id="ind_reg_sec_4_next" type="button">下一步：聯絡資料
                    <i class="las la-arrow-circle-right"></i> </button>
            </div>
        </div>

        <!-- Section 5: Confirm and Accept TOC -->
        <div class="form-section" id="ind_reg_sec_5">
            <!-- TODO: Update Description -->
            <h3 class="mt-2">公司資料（第5步，共5步）</h3>

            <!-- TODO: Put Confirm Info -->
            <p>TODO: Confirm Info Here</p>
            <!-- TODO: Put TOC Buttons -->
            <p>TODO: TOC Confirm HERE</p>
            <!-- Sections Button -->
            <div class="form-group row">
                <button class="btn btn-outline-primary col-5 col-md-3 offset-1 offset-md-5" id="ind_reg_sec_5_prev"
                    type="button"><i class="las la-arrow-circle-left"></i> 上一步：公司資料</button>
                <!-- TODO: Find a way to put a check mark after the label -->
                {{ render_field(form.submit, class="btn btn-primary col-5 col-md-3 offset-1") }}
            </div>
        </div>
        <p class="text-muted text-center mt-3">
            已經擁有帳號？ <a class="ml-2 text-primary" href="{{ url_for('login') }}">登入</a>
        </p>
    </form>

</div>
{% endblock content %}