{% extends "layout.html" %} {% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class = "form-group">
        {% if not user.ur_isEmailVerified%} <h2>Email Not Verified </h2>
        {% if user.ur_id == current_user.ur_id %}
        <a href= {{url_for('request_confirmation_email', uid = current_user.get_id())}} class="btn btn-primary btn-large p-2">
            <h4 class="m-0">Verify Email</h4>
        </a> 
        {%endif%}
        {% else %}<h2> Email Verified </h2>{%endif%}
    </div> 
    <div class = "form-group">
        {%if not user.ur_isSMSVerified%} <h2>SMS Not Verified </h2>
        {% if user.ur_id == current_user.get_id() %}
        <a href= {{url_for('request_confirmation_SMS', uid = current_user.get_id())}} class="btn btn-primary btn-large p-2">
            <h4 class="m-0">Verify SMS</h4>
        </a> 
        {%endif%}
        {% else %}<h2> SMS Verified </h2>{%endif%}
    </div> 
    <div class = "form-group">
        {%if not user.ur_isIdentityVerified%} <h2>Identity Not Verified </h2>
        {% if user.ur_id == current_user.get_id() %}
        <a href="#" class="btn btn-primary btn-large p-2">
            <h4 class="m-0"> Verify Identity </h4>
        </a> 
        {%endif%}
        {% else %}<h2> Identity Verified </h2>{%endif%}
    </div>  
    
    
    <h1> 中文名字: {{profile.iu_CName}} </h1>
    <h1> 英文名字: {{profile.iu_EName}} </h1>
    <h1> 電話號碼: {{user.ur_phone}} </h1>
    <h1> 電子郵箱: {{user.ur_email}} </h1>
    <h1> 稱呼: {{profile.iu_alias}} </h1>
    <h1> 性別: {% if profile.iu_gender == 0%} 女性  {% elif profile.iu_gender == 1 %} 男性 {% else %} 保密 {% endif %} </h1>
    <h1> 生日: {{profile.iu_birthday}} </h1>
    <h1> 語言: {% if profile.iu_language_Cantonese %} 廣東話 {% endif %}
               {% if profile.iu_language_English %} 英文 {% endif %}
               {% if profile.iu_language_Putonghua %} 普通話 {% endif %}
               {% if profile.iu_language_Other %}
                 {%for language in profile.iu_language_Other.split(",")%}
                   {{ language.strip() }}
                 {% endfor %}
               {% endif %}
    </h1>
    <h1> 教育程度:  {% if profile.iu_educationLevel == '0' %} 小學畢業或以下 
                   {% elif profile.iu_educationLevel == '1' %} 完成中三 
                   {% elif profile.iu_educationLevel == '2' %} 中學畢業
                   {% elif profile.iu_educationLevel == '3' %} 大學（本科）畢業
                   {% elif profile.iu_educationLevel == '4' %} 大學（碩士或以上）畢業
                   {% else %} 保密
                   {% endif %} 
    </h1>

    <h1> 自我介紹: {{ profile.iu_selfIntroduction }} </h1>

    
    {% if not reviews %}
        <h1> no comment on you </h1>
    {% endif %}

    {% for review in reviews %}
        <h1> 發佈時間: {{review.re_creationTime}} </h1>>
        <h1> 發佈者: {{review.re_sender_id}} </h1>>
        <h1> 工作表現評分: {{review["fa4d1fcc-e870-45ee-8803-09c6dff91daf"]}} </h1>>
        <h1> 評論: {{review.re_comment}} </h1>>

    {% endfor %}
    
    {% if profile.iu_id == current_user.get_id() %}
    <div class = "form-group">
        <a href="{{url_for('individual_profile_update', iuid=current_user.get_id())}}" class="btn btn-primary btn-large p-2">
            <h4 class="m-0">更新個人檔案</h4>
        </a>   
    </div>  


    {% endif %}
    <div class = "form-group">
        <a href="{{url_for('home')}}" class="btn btn-primary btn-large p-2">
            <h4 class="m-0">prev</h4>
        </a>            
    </div>  

{% endblock content %}
