<!DOCTYPE html>
<html lang="zh-HK">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Google Fonts -->
  <link rel="stylesheet" rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" rel="preload" as="style" href="{{ url_for('static', filename='bootstrap-main.css') }}">

  <!-- Main CSS -->
  <link rel="stylesheet" rel="preload" as="style" href="{{ url_for('static', filename='main.css') }}">

  <!-- Line Awesome -->
  <link rel="stylesheet" rel="preload" as="style"
    href="{{ url_for('static', filename='fonts/line-awesome/css/line-awesome.min.css') }}">

  <!-- Swup CSS -->
  <link rel="stylesheet" rel="preload" as="style" href="{{ url_for('static', filename='swup-main.css') }}">

  <!-- Compiled Minified CSS (Temporarily Disabled for Easier Development) -->
  <!--<link rel="stylesheet" rel="preload" as="style" href="{{ url_for('static', filename='out.css') }}">-->


  {% if title %}
  <title>Manbase - {{title}}</title>
  {% else %}
  <title>Manbase</title>
  {% endif %}
</head>

<body>
  <div class="main m-0" id="swup" style="overflow-x: hidden;">
    {% include 'spinner.html' %}
    <header class="m-0">
      <div class="navbar-height"></div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-height">
        <a href="{{ url_for('home') }}" class="navbar-brand">man<span class="text-primary">base</span> | 大社群</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item">
              <a href="{{ url_for('home') }}"
                class="nav-link {% if request.path == url_for('home') %} active {% endif %}">首頁</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('about') }}"
                class="nav-link {% if request.path == url_for('about') %} active {% endif %}">關於我們</a>
            </li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('login') }}"
                class="nav-link  {% if request.path == url_for('login') %} active {% endif %}">登入</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('register') }}" class="nav-link
                {% if request.path in [url_for('register'), url_for('individual_register'), url_for('business_register')] %}
                active
                {% endif %}
                ">
                註冊
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{{ url_for('account') }}" class="nav-link">我的賬戶</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('logout') }}" class="nav-link">登出</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    {% if request.path in [url_for('login'), url_for('register')] %}
    <div class="content-switch center-grid" id="main_content">
      {% else %}
      <div class="content-switch" id="main_content">
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div
          class="alert {{'alert-success' if category == 'success' else 'alert-warning'}} mb-0 alert-dismissible fade show transition-fade"
          role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
      </div>
      {% if request.path in [url_for('business_register'), url_for('individual_register')] %}
      {% include 'tos.html' %}
      {% endif %}
    </div>

    <footer class="d-flex justify-content-center align-self-end text-center">
      Copyright &copy; 2020 All rights reserved
    </footer>




    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41948260-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-41948260-3');
    </script>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script defer src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Swup -->
    <script defer src="{{ url_for('static', filename='node_modules/swup/dist/swup.min.js') }}"></script>

    <!-- Swup Form Plugin -->
    <script defer
      src="{{ url_for('static', filename='node_modules/@swup/forms-plugin/dist/SwupFormsPlugin.min.js') | replace('%40', '@') }}"></script>
    <script defer
      src="{{ url_for('static', filename='node_modules/@swup/ga-plugin/dist/SwupGaPlugin.min.js') | replace('%40', '@') }}"></script>

    <!-- Custom JS - Swup Init -->
    <script type="module" src="{{ url_for('static', filename='js/swup-main.js') }}"></script>
</body>

</html>