{% macro from_field(field) %}

    <div class="form-group">
        {{ field.label(class="form-control-label") }} <br>
        {% if field.errors %}
            {{  render_field(field,class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    <small class='error'> {{error}} </small>
                {% endfor %}
            </div>
        {% else %}
            {{ render_field(field,class="form-control form-control-lg") }}
        {% endif %}
    </div>

{% endmacro %}

