{% extends "layout.html" %} 
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <!--moved to suspended_code.html-->
    <div class="content-switch center-grid text-center justify-content-center align-items-center" style="min-width: 80vw;">
        <h1 class="my-5">您使用平台的目的是：</h1>
        <div class="container mb-5 animate__animated animate__fadeIn">
            <div class="row justify-content-around">
                <div class="card col-11 col-md-5 mb-3 p-5 shadow bg-white d-flex flex-column justify-content-between" style="min-height: 40vh;">
                    <i class="las la-user-tie text-primary " style="font-size: 7em;"></i>
                    <h2 class="mb-3">
                        尋找合適的工作機會
                    </h2>
                    <a href="{{url_for('individual_register')}}" class="btn btn-primary btn-large p-2">
                        <h4 class="m-0">註冊工作帳戶</h4>
                    </a>
                </div>
                <div class="card col-11 col-md-5 mb-3 p-5 shadow bg-white d-flex flex-column justify-content-between">
                    <i class="las la-users text-secondary" style="font-size: 7em;"></i>
                    <h2 class="mb-3">
                        尋找合適的人才
                    </h2>
                    <a href="{{url_for('business_register')}}" class="btn btn-secondary btn-large p-2">
                        <h4 class="m-0">註冊企業帳戶</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>      
{% endblock content %}
