{% extends "layout.html" %} {% from "_formhelpers.html" import render_field %}
{% from manbase.models import BusinessUsers%}


{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% for listing in listings%}
          <a class="mr-2" href="#"> Quota: {{ listing.li_quota }}</a>
          <small class="text-muted">Start: {{ listing.li_starttime) }}</small>
          <small class="text-muted">End: {{ listing.li_endtime) }}</small>
          <small class="text-muted">Salary: {{ listing.li_salary_amt) }}</small>
          <small class="text-muted">Salary Type: {{ listing.li_salary_type) }}</small>
          <a href="{{url_for('job_list_applicants', job_id = job.jb_id, list_id = listing.li_id)}}" class="btn btn-secondary btn-large p-2">
            <h4 class="m-0">查看工作申請</h4>
        </a>
      {% endfor %}

      {% if job.jb_bu_id == current_user.get_id() %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('business_job_update', job_id=job.jb_id) }}">更新工作詳情</a>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('business_job_delete', job_id=job.jb_id) }}">刪除工作</a>
        </div>
      {% elif BusinessUsers.query.filter_by(bu_id = current_user.get_id()).first()%}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('apply_job', job_id=job.jb_id) }}">申請工作</a>
        </div>
      {% endif %}
    </div>
    
    <h2 class="article-title">{{ job.jb_title }}</h2>
    <p class="article-content">{{ job.jb_description }}</p>
    <p> The expected payment days is {{job.jb_expected_payment_days}} </p>
  </div>
</article>
{% endblock content %}
