{% extends "layout.html" %} {% from "_formhelpers.html" import render_field %}

{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% if not listings %} 
        <p> no listings at all</p>
      {% endif%}
      
      {% for listing in listings%}
      <div>
          <a class="mr-2" href="#"> Quota: {{ listing.li_quota }}</a>
          <small class="text-muted">Start: {{ listing.li_starttime }}</small>
          <small class="text-muted">End: {{ listing.li_endtime }}</small>
          <small class="text-muted">Salary: {{ listing.li_salary_amt }}</small>
          <small class="text-muted">Salary Type: {{ listing.li_salary_type }}</small>
      </div>
      {% endfor %}
    </div>

    <h2 class="article-title">{{ job.jb_title }}</h2>
    <p class="article-content">{{ job.jb_description }}</p>
    <p> The expected payment days is {{job.jb_expected_payment_days}} </p>
  </div>
</article>
{% endblock content %}
