<!-- TODO: Update the Content -->
<div class="modal fade" id="tos" tabindex='-1' role="dialog" aria-labelledby="tosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tosModalLabel">
                    Test TOS
                </h5>
            </div>
            <div class="modal-body">
                <h6>Test Title 1</h6>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, assumenda nemo! Ducimus
                    dignissimos, temporibus adipisci inventore cum nesciunt architecto rerum omnis qui aspernatur autem
                    dolorem optio quaerat cumque sequi amet rem dicta quibusdam accusamus aperiam laudantium assumenda
                    ea labore. Temporibus quod quae veniam ipsa corporis. Eius molestias et corporis ullam.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae corporis accusantium, beatae dicta
                    aliquam at tenetur nam repellendus delectus molestias ratione sit sequi minima reiciendis similique!
                    Voluptate iusto suscipit facilis?</p>

                <h6>Test Title 2</h6>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ab quod labore quaerat at. Sapiente
                    cupiditate, illum, eum aperiam repellendus, laborum iste animi non adipisci dolores magnam neque
                    incidunt laboriosam similique temporibus dolore ipsam ipsa consectetur natus. Fugit necessitatibus
                    libero, omnis quidem, quasi, quos dolorem explicabo neque eaque itaque voluptates labore praesentium
                    et non aliquam autem soluta voluptate atque minima nisi reiciendis dolores recusandae magni
                    accusamus. Facere deserunt nulla maxime commodi porro cumque mollitia quod obcaecati illo? Veniam
                    amet, ex dicta porro ad, mollitia repellat, possimus saepe pariatur aspernatur est architecto
                    debitis quos alias? Non quaerat laudantium rem cum ipsum accusamus, reiciendis aut neque vero esse
                    itaque cupiditate sapiente! Quod numquam ea minima laboriosam blanditiis, dignissimos consequatur a,
                    nemo commodi distinctio rerum reiciendis ab provident natus perferendis est. Maxime quia earum
                    accusantium doloremque mollitia cumque, rem corrupti reiciendis, nihil consectetur assumenda est
                    reprehenderit fuga suscipit sequi adipisci eius impedit porro nulla asperiores voluptates!
                    Molestias, et rem? Maxime autem, quidem officia sit est expedita inventore officiis ratione minima
                    rem quia recusandae deserunt, dolorem fuga dicta accusamus unde. Aliquam iure corrupti quam impedit,
                    dolorum, ducimus harum odio illum minus consectetur veniam natus repellat quia voluptates quae eius
                    optio omnis possimus esse, repudiandae eos perferendis? Dolore doloremque earum deserunt reiciendis,
                    eaque ipsa, rem id sint sed modi similique nobis nostrum iusto possimus cum fugiat. Hic ex dolor
                    aperiam delectus facilis ab repellat laudantium quia veniam. Mollitia, explicabo porro nihil optio
                    nemo quas eum repellat dignissimos eius aspernatur, maxime magnam assumenda unde architecto harum
                    quo consectetur odit quibusdam voluptatibus ipsam, error fugiat consequuntur commodi. Deleniti
                    nostrum, eos sint ad explicabo dicta rerum fugit inventore aliquam nisi, aliquid vero suscipit
                    consequuntur obcaecati autem tempora? Quibusdam cumque non ipsa. Corrupti, quisquam. A
                    exercitationem adipisci laudantium omnis dicta quam veritatis impedit perferendis ducimus tempore
                    hic beatae, voluptas repudiandae aut blanditiis, similique excepturi numquam iusto facilis, incidunt
                    voluptatum atque? Deserunt numquam ipsum quibusdam sunt quisquam cumque placeat, consectetur error
                    eius dicta officiis ex dignissimos adipisci nostrum dolorum laborum non rerum velit vero hic optio
                    assumenda facilis pariatur culpa? Quaerat rerum numquam, aperiam architecto aliquam repellat nostrum
                    nesciunt unde enim voluptas eligendi laudantium, dignissimos quia, ad harum fuga atque voluptatibus
                    assumenda inventore doloremque dolorem vel expedita? Repellat sed nemo maiores iste quidem. Minima
                    consequuntur blanditiis magni. Aspernatur, nostrum accusamus sint excepturi iure quas voluptatem
                    itaque blanditiis reiciendis! Ipsa qui animi tempore labore ad. Impedit est ipsa cumque, repudiandae
                    dolorum possimus culpa optio laboriosam, totam distinctio hic rerum officiis, exercitationem
                    voluptates maxime velit. Perspiciatis veniam at aliquam corrupti beatae quis odit provident eum,
                    tenetur ad et eaque amet obcaecati voluptas impedit sed unde nisi architecto voluptatem non eos
                    voluptate delectus! Pariatur expedita voluptate laudantium voluptas, voluptatibus fuga, consequatur
                    aspernatur provident eos vel magnam nobis odit! Ullam autem cumque eaque molestias, quibusdam
                    debitis maiores fugiat optio repudiandae ea quae soluta inventore est quasi tenetur, consequuntur
                    adipisci culpa? Vel voluptas sequi earum cupiditate fuga mollitia eius accusantium, doloremque
                    eligendi veritatis nemo magnam expedita veniam ipsum tempore omnis doloribus neque, incidunt soluta
                    assumenda.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class='btn btn-outline-primary' data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>