
{% extends "layout.html" %} {% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class = 'content-section'> 
        <form method = 'POST' action = ''>
                {{ form.hidden_tag() }}
                <fieldset class='form-group'>
                    <div class="form-group">
                        {{ form.old_password.label(class="form-control-label") }}
                        {% if form.old_password.errors %}
                        {{ render_field(form.old_password, class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.old_password.errors %}
                            <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ render_field(form.old_password,class="form-control form-control-lg" )}}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.new_password.label(class="form-control-label") }}
                        {% if form.new_password.errors %}
                        {{ render_field(form.new_password, class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.new_password.errors %}
                            <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ render_field(form.new_password,class="form-control form-control-lg" )}}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.confirm_new_password.label(class="form-control-label") }}
                        {% if form.confirm_new_password.errors %}
                        {{ render_field(form.confirm_new_password, class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_new_password.errors %}
                            <small class='error'> {{error}} </small>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ render_field(form.confirm_new_password,class="form-control form-control-lg" )}}
                        {% endif %}
                    </div>
	            </fieldset> 
                <div class = "form-group">
                    <a href="{{url_for('individual_profile_update', iuid=current_user.get_id())}}" class="btn btn-primary btn-large p-2">
                        <h4 class="m-0">prev</h4>
                    </a>            
                </div>  
                <div class="form-group">
                    {{ render_field(form.submit, class="btn btn-primary btn-large btn-block")
                    }}
                </div>
        </form>
    </div>
{% endblock content %}
