:root {
  --nav-height: 8vh;
  --footer-height: 5vh;
}

html {
  margin: 0;
  padding: 0;
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans HK', sans-serif;
}

nav, .navbar-height {
  min-height: var(--nav-height);
  z-index: 3;
}

.main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-switch {
  min-height: calc(100vh - var(--footer-height));
  padding-top: calc(2 * var(--nav-height) + 4vh);
}

#header_1 {
  font-size: 2.5em;
}

#header_2 {
  font-size: 5em;
}

.dimension::before {
  content: '◆ ';
}

footer {
  height: var(--footer-height);
}

.center-grid {
  min-height: calc(100vh - var(--footer-height) - 2 * var(--nav-height));
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.transparent-watermark-background {
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  align-self: center;
  justify-self: center;
}

.bus-reg > .form-section {
  display: none;
}

input[type="password"] {
  font-family: sans-serif, 'Noto Sans HK' !important;
}

.spinner-background {
  position: fixed;
  z-index: 10000;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner-background:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.clip-bottom {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navbar-bottom-item {
  background: white;
  min-width: 10vh;
  min-height: 7vh;
}

.banner-offset {
  transform: translateY(calc(-0.7 * var(--nav-height)));
}

.navbar-bottom {
  transform: translateY(-1px);
}

@media (min-width: 768px) {
  .navbar-bottom {
    display: none !important;
  }

  nav {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .content-switch {
    padding-top: calc(1 * var(--nav-height));
  }

  .center-grid {
    min-height: calc(100vh - var(--footer-height) - var(--nav-height));
  }

  .banner-offset {
    transform: translateY(calc(-.5 * var(--nav-height)));
  }
}

/* TODO: Use the `d-none` class of Bootstrap instead */
.is-hidden {
  display: none;
}
